main {
  padding-top: 5px;
  background-color: #fff;
  padding-bottom: 10px;
}

#kiri {
  margin-top: 4%;
}

#kanan {
  margin-bottom: 2%;
}

body {
  animation: fadeInAnimation ease 3s;
  padding-top: 40px;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#aboutme {
  padding-top: 50px;
  background-color: #f8f9fa;
}

#skill {
  padding-top: 50px;
  margin-bottom: 20px;
}

.tulisan {
  text-align: justify;
  margin: 25px 50px 75px;
  padding-right: 2vw;
  padding-top: 40px;
}

#portfolios {
  padding-top: 20px;
}

#kartugam:hover {
  border: #7c45d4 solid 5px;

  bottom: 20px;
  transition: 1s;
}

#kartugam {
  bottom: 0px;
  transition: 1s;
}

#skiles:hover {
  background-color: #f8f9fa;

  border-radius: 10px;
  padding-top: 20px;
  transition: 1s;
}

#skiles {
  bottom: 0px;

  transition: 1s;
}

.progress {
  width: 50%;
}

#css {
  width: 80%;
  background-color: #e232b0;
  color: #e232b0;
  transition: 1s;
}

#css:hover {
  background-color: #75195b;
  color: #fff;
  transition: 1s;
}

#javascript {
  width: 15%;
  background-color: #ff8a5f;
  color: #ff8a5f;
  transition: 1s;
}

#javascript:hover {
  background-color: rgb(90, 14, 69);
  color: #fff;
  transition: 1s;
}

#html {
  width: 100%;
  background-color: #ff5084;
  color: #ff5084;
  transition: 1s;
}

#html:hover {
  background-color: #94173c;
  color: #fff;
  transition: 1s;
}
#interests {
  margin-top: 50px;
  background-color: #f8f9fa;
}

#php {
  width: 90%;
  background-color: #7c45d4;
  color: #7c45d4;
  transition: 1s;
}

#php:hover {
  background-color: #331268;
  color: #fff;
  transition: 1s;
}

#sql {
  width: 80%;
  background-color: #006cf4;
  color: #006cf4;
  transition: 1s;
}

#sql:hover {
  background-color: #134077;
  color: #fff;
  transition: 1s;
}
#ui {
  width: 75%;
  background-color: #00a387;
  color: #00a387;
  transition: 1s;
}

#ui:hover {
  background-color: #065c4d;
  color: #fff;
  transition: 1s;
}
